[viewBag]
==
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="logo">
                <a href="{{ 'index'|staticPage }}">
                    <img src="{{ 'assets/images/logo.png'|theme }}" alt="REFCS" />
                </a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="contact-phone">
                <label>Contáctanos</label>
                <span class="phone-number">refcs@ues.edu.sv</span>
            </div>
        </div>
    </div>
</div>